@import "../../variables";

.calendar {
  &__month {
    height: 100vh;
    display: grid;
    flex: 1 1 0;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border: 1px solid $light-grey-color;
  }
  &__day {
    border: 1px solid $light-grey-color;
    display: flex;
    justify-content: space-between;

    &_current {
      background-color: rgba(143, 6, 234, 0.10);
    }
    &_disabled {
      pointer-events: none;
      opacity: 40%;
    }
    &__item__wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: .3rem;
      font-size: $small;
      font-weight: $bold;
    }
    &__item__date {
      color: $purple-color;
    }
  }
  &__header {
      display: flex;
      justify-content: space-between;
      margin: 0 1rem 1rem 1rem;

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.header__item {
  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
  }
  
  &__btn {
    &:hover {
      cursor: pointer;
    }
  }
}