@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

// Fonts
$main-font: 'Nunito', sans-serif;

// Font Sizes
$small: 14px;
$main-size: 16px;
$title: 32px;
$title-sm: 24px;

// Colors
$white-color: #fff;
$black-color: #262626;
$purple-color: #7920b0;
$light-grey-color: rgba(204, 204, 204, 0.4);
$grey-color: rgb(131, 131, 131);
$err-color: rgba(218, 28, 28, 0.76);

// Weight
$light: 300;
$semi-bold: 500;
$bold: 600;