@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

// Fonts
$main-font: 'Nunito', sans-serif;

// Font Sizes
$small: 14px;
$main-size: 16px;
$title: 32px;
$title-sm: 24px;

// Colors
$white-color: #fff;
$green-color: rgba(67, 238, 19, 0.44);
$black-color: #262626;
$purple-color: #7920b0;
$light-grey-color: rgba(204, 204, 204, 0.4);

// Weight
$light: 300;
$semi-bold: 500;
$bold: 600;